<div class=" bg-white p-3">
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button
                    data-bs-toggle="collapse"
                    data-bs-target="#edition-collapse"
                    aria-expanded="{{ app.request.get('_route') starts with 'admin.product' or app.request.get('_route') starts with 'admin.category' ? 'true' : 'false' }}"
                    class="btn btn-toggle align-items-center rounded {{ app.request.get('_route') starts with 'admin.product' or app.request.get('_route') starts with 'admin.category' ? '' : 'collapsed' }}">
                Edition
            </button>
            <div class="collapse {{ app.request.get('_route') starts with 'admin.product' or app.request.get('_route') starts with 'admin.category' ? 'show' : '' }}" id="edition-collapse">
                <ul class="btn-toggle-nav fw-normal pb-1 small mx-2">
                    <li>
                        <a href="{{ path('admin.product.list') }}" class="text-decoration-none {{ app.request.get('_route') == 'admin.product.list' ? 'fw-bold' : '' }}">
                            Products
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin.category.list') }}" class="text-decoration-none {{ app.request.get('_route') == 'admin.category.list' ? 'fw-bold' : '' }}">
                            Categories
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                TODO
            </button>
            <div class="collapse" id="dashboard-collapse">
                <ul class="btn-toggle-nav fw-normal pb-1 small mx-2">
                    <li></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                TODO
            </button>
            <div class="collapse" id="orders-collapse">
                <ul class="btn-toggle-nav fw-normal pb-1 small mx-2">
                    <li></li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                TODO
            </button>
            <div class="collapse" id="account-collapse">
                <ul class="btn-toggle-nav fw-normal pb-1 small mx-2">
                    <li></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
