<div class="col bg-dark {{ textColor}} text-center p-4">
    <div class="card-body">
        <h5 class="{{ textColor }}">
            <i class="fas {{ icon }}"></i>
            {{ title }}
        </h5>
        <p class="card-text">{{ text }}</p>
    </div>
</div>
