{% extends 'admin/layout.html.twig' %}


{% block title %}New category{% endblock %}

{% block main %}
    <h1>{% if category is defined %}{{ category.id }} - {{ category.name }}{% else %}New Category{% endif %}</h1>
    <hr>

    {% for type, messages in app.flashes %}
        <div class="alert alert-{{ type }}">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endfor %}

    {{ form_start(formView) }}

    {{ form_errors(formView) }}

    <div class="row">
        <div class="col-6">
            {{ form_row(formView.name) }}
        </div>
    </div>

    <button class="btn btn-dark rounded-1" type="submit"><i class="fas fa-save"></i>&nbsp;&nbsp;Save</button>

    {{ form_end(formView) }}
    {# TODO Display products example from this category #}
{% endblock %}
