{% extends 'admin/layout.html.twig' %}

{% block title %}Products list{% endblock %}

{% block main %}
    <div class="col-10">
        <h1>Products:</h1>
        <hr>
        <a href="{{ path('admin.product.create') }}" class="btn btn-info btn-sm rounded-3">+ Create</a>
        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Action</th>
            </tr>
            </thead>

            <tbody>
            {% for product in products %}
                <tr class="table-{{ loop.index is odd ? 'info' : 'secondary' }}">
                    <th scope="row">{{ product.id }}</th>
                    <td>{{ product.name }}</td>
                    <td>{% for category in product.categories %}<a href="{{ path('admin.category.edit', {'id' : category.id, 'slug' : category.slug}) }}">{{ category.name }}</a>{% if not loop.last %}&nbsp;|&nbsp;{% endif %}{% endfor %}</td>
                    <td><a href="{{ path('admin.product.edit', {'id': product.id, 'slug': product.slug}) }}" type="button" class="btn btn-info btn-sm rounded-3"><i class="fa-solid fa-arrow-right"></i>&nbsp;Update</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% for product in products %}
    {% endfor %}
{% endblock %}
